/* Set background color of features section */
.features {
    background-color: #e3e3e3;
}
/* Color and style map heading */
.mapHeading {
    color: blue!important;
    margin:0 0 15px 0!important;
}
/* Style footer */
footer {
    background-color: grey;
    color: #fff;
}
/* Set size of logo */
.img-fluid {
    width:80px;
    height:60px;
}
/* Style jumbotron */
.jumbotron {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    padding: 1rem !important;
}
/* style tabs */
.tab-pane {
    margin-top: 10px;
}
/* set icon colors white */
.icons p a{
    color: #fff;
}
/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* Set height of carousel images for small devices */
    .carousel-inner img {
        height: 400px;
    }
    /* align features content */
    .features img,p,h3{
        margin-left: 0!important;
    }
  } 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Set height of carousel images for medium devices */
    .carousel-inner img {
        height: 400px;
    }
    /* align features content */
    .features img,p,h3{
        margin-left: 0!important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* Set height of carousel images for large devices */
    .carousel-inner img {
        height: 600px;
    }
    /* align features content */
    .features img,p,h3{
        margin-left: 15px!important;
    }
}